<ion-header>
  <ion-tab-bar color="tertiary">
    <ion-tab-button>
      <ion-back-button></ion-back-button>
    </ion-tab-button>
    <ion-title color="light" style="text-align: center;"
      >Edit Notification</ion-title
    >
    <ion-tab-button (click)="updateContent()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content *ngIf="data$ | async as item">
  <ion-input (ionChange)="changeTitle($event.target.value)" [(ngModel)]="title">
  </ion-input>
  <ion-textarea
    rows="15"
    size="large"
    (ionChange)="changeDescription($event.target.value)"
    [(ngModel)]="description"
  ></ion-textarea>
</ion-content>

<ion-item *ngIf="data$ | async as item" slot="buttom" color="tertiary">
  <ion-label>Last Edit Time: {{item.updated_at}}</ion-label>
</ion-item>
