<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title style=text-align:center >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 輸入 email -->
    <ion-item>
      <ion-label position="floating">Account</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>

    <!-- 輸入密碼 -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" (keyup.enter)="submit()"></ion-input>
    </ion-item>

    <!-- 送出按鈕 -->
    <ion-toolbar>
      <ion-button color="tertiary" slot="end" (click)="submit()">submit </ion-button>
    </ion-toolbar>
</ion-content>
