<ion-content [fullscreen]="true">
  <ion-header>
    <ion-tab-bar size="large" color="tertiary">
      <ion-tab-button (click)="logOut()">
        <ion-icon size="medium" name="chevron-back-outline"></ion-icon>
      </ion-tab-button>
      <ion-title
        color="light"
        size="large"
        style="text-align: center;"
        size="large"
        >Broadcast List</ion-title
      >
      <ion-tab-button (click)="newContent()">
        <ion-icon size="medium" name="add-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-header>

  <ion-menu-button
    (click)="reload()"
    size="small"
    autoHide="{{allowReloadButton}}"
  >
    <ion-icon name="reload-outline"></ion-icon>
  </ion-menu-button>

  <ion-list>
    <ng-container *ngIf="data$ | async as data">
      <ion-item *ngFor="let item of data">
        <ion-label size="large">{{item.title}}</ion-label>
        <ion-note slot="start">{{item.creator.name}}</ion-note>
        <ion-button
          color="success"
          (click)="sendAlert(item)"
          disabled="{{item?.userAuthority}}"
        >
          <ion-icon color="light" name="send-outline"></ion-icon>
        </ion-button>
        <ion-button color="secondary" (click)="editContent(item.id)">
          <ion-icon color="light" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteItem(item)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-list>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>
