<ion-header>
  <ion-tab-bar color= "tertiary">
    <ion-tab-button (click) ='logOut()'>
      <ion-icon size="medium" name="chevron-back-outline"></ion-icon>
    </ion-tab-button>
    <ion-title color="light"style=text-align:center>To-Do List</ion-title>
    <ion-tab-button (click)='backInit()'>
        <ion-icon name="reload-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-item>
  <ion-input clearInput=true placeholder="Enter Your To-Do List" (keyup.enter)="addItem($event.target.value)"></ion-input>
</ion-item>


<ion-list>
  <ion-item *ngFor="let item of lists" >
    <ion-checkbox  slot="start" color="warning" checked={{item.done}} (click)='changeStatement(item,item.done)'> </ion-checkbox >
    <ion-input clearInput value={{item.item}} (keyup.enter)="changeItem(item,$event.target.value,item.done)" ></ion-input>
    <ion-button color="danger"(click)=deleteItem(item)>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-content>
</ion-content>
