<ion-header>
  <ion-tab-bar size="large" color="tertiary">
    <ion-tab-button (click) ='logOut()'>
      <ion-icon size="medium" name="chevron-back-outline"></ion-icon>
    </ion-tab-button>
    <ion-title color="light" size="large" style=text-align:center size="large">Member Page</ion-title>
    <ion-tab-button >
      <ion-icon size="medium"name="create-outline" (click)="takePicture()"></ion-icon>
    </ion-tab-button>     
  </ion-tab-bar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-title  style=text-align:center >
      Profile
    </ion-title>
    <ion-img [src]="imageUrl"></ion-img>
    <ion-item>
      <ion-label>Name : 林育緹</ion-label>
    </ion-item> 
    <ion-item>
      <ion-label>Account : {{memberData?.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email : {{memberData?.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Birthday : 2000.06.22</ion-label>
    </ion-item> 
  </ion-list>
  
  <ion-list>
    <ion-title  style=text-align:center >
      Setting
    </ion-title>
    <ion-item>
      <ion-label>Private Account</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item> 
  </ion-list>
</ion-content>
