<ion-header>
  <ion-tab-bar color="tertiary">
    <ion-tab-button>
      <ion-back-button></ion-back-button>
    </ion-tab-button>
    <ion-title color="light" style="text-align: center;"
      >Create Notification</ion-title
    >
    <ion-tab-button (click)="createContent()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content>
  <ion-input
    required="true"
    placeholder="Enter Your Title"
    [(ngModel)]="title"
  ></ion-input>
  <ion-textarea
    required="true"
    rows="15"
    size="large"
    placeholder="Enter Your Content"
    [(ngModel)]="description"
  ></ion-textarea>
</ion-content>

<ion-item slot="buttom" color="tertiary">
  <ion-label color="light"></ion-label>
</ion-item>
