<ion-header>
  <ion-toolbar color= "secondary">
    <ion-buttons (click) ='logout()'slot="start">
        <ion-icon  size="large" name="log-out-outline"></ion-icon>
    </ion-buttons>
    <ion-title size="large">To-Do List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='backInit()'>
        <ion-icon size="large" name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-input clearInput=true placeholder="Enter Your To-Do List" (keyup.enter)="addItem($event.target.value)"></ion-input>
</ion-item>


<ion-list>
  <ion-item *ngFor="let item of lists" >
    <ion-checkbox  slot="start" color="secondary" checked={{item.done}} (click)='changeStatement(item,item.done)'> </ion-checkbox >
    <ion-input clearInput value={{item.item}} (keyup.enter)="changeItem(item,$event.target.value,item.done)" ></ion-input>
    <ion-button color="danger"(click)=deleteItem(item)>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-content>
</ion-content>
